body {
	font-family: Book Antiqua;
	color: white;
	font-size: 12px;
	line-height: 150%;
	background-color: #383838; 
}

h3 {
	margin-bottom: 6px;
}

a {
	color: white;
	text-decoration: underline;
}

p {
	padding: 0px;
	margin: 0px;
}

/* ----------- TABLE ----------- */
table {
	border-collapse: collapse;
	font-size: 12px;
}

td {
	border: 1px solid white;
	vertical-align: top;
	padding: 6px;
}

table.tight_clean_table td {
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

table.tight_clean td {
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

table.clean td {
	border: 0px;
}

table.clean_centre td {
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

table.line td {
	border: hidden;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* ------------------------  */
ol {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 24px;
}

ul {
	margin-top: 3px;
	margin-bottom: 3px;
}

ul li {
	list-style-type: none;
	text-indent: -18px;
}

ul li::before {
	padding-right: 18px;
	margin-left: -6px;
}

ul.stroke_list li::before {
	content: "|";
}

ul li::before {
	content: "-";
}

ul.dir {
	padding: 0px 18px;
	margin: 0px;
	display: inline-block;
}

ul.dir li::before {
	content: "\221F";
	padding: 0px 3px;
}

/* ------------------------  */
div.dir {
	display: inline-block;
	padding: 0px 6px;
	border: 1px solid gray;
	background-color: rgba(255, 255, 255, 0.1);
	vertical-align: top;
}

/* ------------------------  */

.index {
	border: 2.5px solid white;
	display: inline-block; 
	padding: 24px;
	padding-left: 40px;
	font-size: 16px;
	font-weight: bold;
}

.to_menu a {
	font-family: Arial;
	position: fixed;
	width: 100px;
	right: -35px;
	top: 10%;
	background-color: rgb(200, 200, 200, 0.5);
	color: white;
	padding: 3px;
	padding-bottom: 40px;
	color: black;
	text-decoration: none;
	rotate: 270deg;
	text-align: center;
	border-radius: 10px;
}


li {
	padding-left: 14px;
}
.stroke {
	list-style-type: none;
	text-indent: -14px;
}
.stroke::before {
	content: "|";
	padding-right: 12px;
	margin-left: -6px;
}

.clean {
	border: none;
}


.code {
	font-family: Courier;
}

.button {
	display: inline; 
	border: 1px solid white; 
	padding-right: 6px;
	padding-left: 6px;
}

.hl, .hl2, .hl3, .hl4 {
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-right: 3px;
	padding-left: 3px;
}

.hl {
	background-color: rgba(213, 255, 0, 0.3);
}

.hl2 {
	background-color: rgba(0, 170, 170, 0.3);
}

.hl3 {
	background-color: rgba(200, 0, 0, 0.5);
}

.hl4 {
	background-color: rgba(0, 0, 0, 0.3);
}

.grp {
	display: inline-block; 
	vertical-align: top;
}

.texthl {
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-right: 3px;
	padding-left: 3px;
	color: yellow;
}

.def-text {
	border: 1px solid white;
	display: block;
	padding: 6px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.prettyprint {
	background-color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 24px;
	padding-left: 6px !important;
	padding-right: 6px !important;
	tab-size: 24px;
}

.prettyprint.inline {
	background-color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	margin: 0px;
	border:  0px;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

.box-content {
	margin-left: 24px; 
	border: 1px solid white; 
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
}